@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #e2e8f0;
}

.react-grid-item.react-grid-placeholder {
	border: 2px solid #2563eb;
	border-radius: 8px;
	background: none !important;
	opacity: 0.3 !important;
}
